:root {
	--main-color: #313131;
	--secondary-color: #F8F8F8;
	--tertiary-color: #B5B3B1;
}

body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	min-width: 310px;
}

a:link, a:visited {
	color: #B5B3B1;
}

header {
	padding: 20px;
	height: 80px;
	background-color: #F8F8F8;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

hr {
	width: 90%;
	margin-bottom: 2em;
}

#hamburger-nav {
	top: 80px;
	right: 0;
	background-color: #F8F8F8;
}

#hamburger-nav a {
	width: 100%;
}

nav div {
	margin: 10px;
}

nav a:link, nav a:visited {
	-webkit-text-decoration-line: none;
	        text-decoration-line: none;
	color: #313131;
}

a[class*="button"]:link, a[class*="button"]:visited, #landing-link:link, #landing-link:visited {
	text-decoration: none;
	color: #F8F8F8;
}

main {
	padding: 15px 30px 30px 30px;
	min-height: 80%;
	background-color: #313131;
	color: #F8F8F8;
}

main.bg {
	background: url("bg.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.text-wrapper {

	max-width: 300px;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.text-wrapper .square-button {
	margin: 0 0 30px 0;
}

footer {
	padding: 40px;
}

*[class*="flex"] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

*[class*="-vertical"] {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

*[class*="-centered"] {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

*[class*="button"]:hover {
	cursor: pointer; cursor: hand; 
}

.typing {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1.2em;
}

.square-button, .mobile-nav-button {
	-webkit-transition: width 0.1s, height 0.1s, opacity 0.2s;
	transition: width 0.1s, height 0.1s, opacity 0.2s;
	height: 49px;
	border: 1px solid #313131;
	border-radius: 2.5px;
}

.square-button {
	width: 80px;
}


.mobile-nav-button {
	width: 100%;
}

.square-button:hover, .mobile-nav-button:hover {
	background-color: #313131;
	color: #F8F8F8;
	-webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.9);
	        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.9);
}

.square-button:hover {
	width: 80px;
	height: 55px;
}

.box-shadow {
	-webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.9);
	        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.9);
}

main .square-button {
	margin: 0 10px 0 10px;
	border: 1px solid #F8F8F8;
}

main .square-button:hover {
	background-color: #F8F8F8;
	color: #313131;
	width: 85px;
	height: 49px;
	-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.9);
	        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.9);
	cursor: pointer; cursor: hand; 
}

.clicked {
	background-color: #313131;
	color: #F8F8F8;
	-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.9);
	        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.9);
}

.hidden, .hidden * {
	opacity: 0; /* So that things can fade in if desired */
	height: 0;	/* So that things can expand in if desired */
	margin: 0;
	padding: 0;
}

main div {
	background-color: #464646;
	padding: 1px 20px 1px 20px;
}

.expanding {
	-webkit-transition: height 0.3s;
	transition: height 0.3s;
	cursor: pointer; cursor: hand; 
}

.expanding:hover {
	background-color: #404040;
}

#olve {
	color: #F8F8F8;
	background-color: #313131;
	width: 45px;
	height: 45px;
	margin: 0 10px 0 10px;
	border-radius: 2.5px;
}

#drageset {
	margin: 10px;
}

#jokePunchline {
	font-family: 'Luckiest Guy', Impact;
	font-size: 2em;
	height: auto !important;
}

#desktop-nav, #desktop-nav * {
	display: none;
}


@media only screen and (min-width: 840px) {
	#desktop-nav, #desktop-nav * {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	#desktop-nav {
		padding: 5px;
	}

	#nav-icon3 {
		display: none;
		opacity: 0;
		height: 0;	
		margin: 0;
		padding: 0;
	}

	main {
		padding: 20px 50px 50px 50px;
	}

	.expanding {
		padding: 1px 30px 1px 30px;
	}
}