:root {
	--main-color: #313131;
	--secondary-color: #6E6E6E;
	--tertiary-color: #B5B3B1;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	min-width: 310px;
	background-color: #313131;
}

a:link, a:visited {
	color: #b9ce00;
}

header {
	padding: 20px;
	height: 80px;
	background-color: #fcfcfc;
		 justify-content: space-between;
}

hr {
	width: 90%;
	margin-bottom: 2em;
}

img {
	max-height: 50px;
	max-width: 50px;
}

#hamburger-nav {
	top: 80px;
	right: 0;
	background-color: #fcfcfc;
}

#hamburger-nav a {
	width: 100%;
}

nav div {
	margin: 10px 10px 10px 10px;
}

nav a:link, nav a:visited {
	-webkit-text-decoration-line: none;
	        text-decoration-line: none;
	color: #313131;
}

#landing-link, #contact {
	height: 80%;
}

a[class*="button"]:link, a[class*="button"]:visited, #landing-link:link, #landing-link:visited {
	text-decoration: none;
	color: #F8F8F8;
}

main {
	padding: 15px 30px 30px 30px;
	margin: 0 0 0 0;
	min-height: 75%;
	color: #dadada;
}

main.bg {
	background: url("bg.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.highlighted-text {
	color: #e8c114;
}

.keywords{
	color: #b29361;
}

.text-wrapper {
	margin: 0 0 10px 0;
	max-width: 400px;
	align-self: flex-start;
}

.content-wrapper {
	padding: 10px 15px 1px 15px;
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.9);
	border-radius: 0px;
}

footer {
	padding: 40px;
}

*[class*="flex"] {
	display: flex;
}

*[class*="-vertical"] {
	flex-direction: column;
}

*[class*="-centered"] {
	align-items: center;
	justify-content: center;
}

*[class*="button"]:hover {
	cursor: pointer; cursor: hand; 
}

.typing {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1.2em;
}

.square-button, .mobile-nav-button {
	transition: width 0.1s, height 0.1s, opacity 0.2s;
	height: 49px;
	border: 1px solid #313131;
	border-radius: 2.5px;
}

.square-button {
	width: 80px;
	margin: 0 10px 0 10px;
}


.mobile-nav-button {
	width: 100%;
}

.square-button:hover, .mobile-nav-button:hover {
	background-color: #313131;
	color: #F8F8F8;
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.9);
}

.square-button:hover {
	width: 80px;
	height: 55px;
}

.box-shadow {
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.9);
}

main .square-button {
	margin: 0 20px 10px 0;
	padding: 0 10px 0 10px;
	border: 1px solid #F8F8F8;
	background-color: none;
}

main .square-button:hover {
	background-color: #F8F8F8;
	color: #313131;
	width: 80px;
	height: 49px;
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.9);
	cursor: pointer; cursor: hand; 
}

.clicked {
	background-color: #313131;
	color: #fcfcfc;
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.9);
}

.hidden, .hidden * {
	opacity: 0; /* So that things can fade in if desired */
	height: 0;	/* So that things can expand in if desired */
	margin: 0;
	padding: 0;
}

.hidden * {
	display: none;
}

main div {
	background-color: #464646;
}

.expanding {
	transition: height 0.3s;
	cursor: pointer; cursor: hand; 
}

.expanding:hover {
	background-color: #404040;
}

.expanding:hover .description {
	background-color: #404040;
}

#olve {
	color: #fcfcfc;
	background-color: #313131;
	width: 45px;
	height: 45px;
	margin: 0 10px 0 10px;
	border-radius: 2.5px;
}

#drageset {
	margin: 10px;
	color: #313131;
}

#jokePunchline {
	font-family: 'Luckiest Guy', Impact;
	font-size: 2em;
	height: auto !important;
}

#desktop-nav, #desktop-nav * {
	display: none;
}

#ham-wrapper {
	height: 120px;
	width: 120px;
	margin-right: -20;
}

#ham-wrapper:hover {
	background-color: #8c8c8c;
	cursor: pointer;
}

#icon-wrapper a {
	display: none;
}

span.skill-descriptor, .description {
	color: #d6d6d6;
}

@media only screen and (min-width: 528px) {
	#icon-wrapper a {
		display: block;
		margin-right: auto;
		width: 50px;
		margin: 0 30px 0 0;
	}

	.text-wrapper {
		margin: 0 0 0 0;
		max-width: 460px;
		align-self: flex-start;
	}

	.content-wrapper {
		padding: 10px 30px 10px 30px;
	}
}


@media only screen and (min-width: 930px) {
	#desktop-nav, #desktop-nav * {
		display: flex;
	}

	#desktop-nav {
		padding: 15px;
	}

	#nav-icon3 {
		display: none;
		opacity: 0;
		height: 0;	
		margin: 0;
		padding: 0;
	}

	#icon-wrapper a {
		display: block;
	}

	main {
		padding: 20px 50px 50px 50px;
	}


	img {
		margin: 0 15px 0 15px;
	}

	#joke-wrapper {
		min-width: 470px;
		min-height: 300px;
	}

	header {
		justify-content: space-between;
	}

	#ham-wrapper {
		height: 120px;
		width: 0;
		top: -20px;
		right: -20px;
		margin: 0;
	}
}